head{
    background-color: brown;
}

body {
    background-color: bisque;
    color: black;
}

footer {
    position: relative;
    bottom: 0;
    height: 60px;
    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: black;


    .links {
      font-size: 20px;
      justify-self: center;
      justify-content: center;
      text-align: center;
      display: flex;
      margin-top: 10px;
      align-items: center;
        
      flex-direction: row;
  
      link-wrapper {
        width: auto; 
        height: 32px;
        border-radius: 20px; 
        border-style: solid;
        padding-left: 5px;
        padding-right: 5px;
        padding-top: 0px;
        padding-bottom: 0px;
        background-color: white; 
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        margin-left: 10px;
        margin-right: 10px;
      }

      .link-wrapper p{
        padding: 0%;
        margin: 0;
      }
  
      hr{
          text-align: center;
          justify-self: center;
      }
  }
}

/* navigation bar */
/* The side navigation menu */
.nav-bar {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0;
    left: 0;
    background-color: #111; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidebar */
  }
  
  /* The navigation menu links */
  .nav-bar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  /* When you mouse over the navigation links, change their color */
  .nav-bar a:hover {
    color: #f1f1f1;
  }
  /* Position and style the close button (top right corner) */
  .nav-bar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }

  .openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: #111;
    color: white;
    padding: 10px 15px;
    border: none;
  }
  
  .openbtn:hover {
    background-color: #444;
  }
  
  #main {
    transition: margin-left .5s; /* If you want a transition effect */
    padding: 20px;
  }

  /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
  @media screen and (max-height: 450px) {
    .nav-bar {padding-top: 15px;}
    .nav-bar a {font-size: 18px;}
  }

  .color-box {
    background-color: white;
    font-size: 20px;
    border-radius: 10px 10px;
    box-shadow: #bbb;
    padding: 10px 20px;
    margin-right: 20px;
    box-shadow: 5px 5px darkslategrey;
    h4 {
        margin-top: 0;
    }
}

button {
  font-size: 20px;
  cursor: pointer;
  background-color: #111;
  color: white;
  padding: 10px 15px;
  border: none;
}

.button:hover {
  background-color: #444;
}

.title{
  justify-self: left;
  text-align: left;
  h1 {
      margin-left: 0px;
  }
}


.flex-container-1 {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 100%;
  justify-self: center;
  text-align: center;
  font-size: 20px;

  .flex-image {
      display: flex;
      justify-content: center;
      border: #bbb;
      padding-right: 10px;
      width: 100%;

      img {
          max-width: 50%;
          max-height: 100%;
          background-color: white;
          border-radius: 10px 10px;
          box-shadow: #bbb;
          padding: 10px 20px;
          margin-bottom: 10px;
          box-shadow: 5px 5px darkslategrey;
      }
  }
     
  .flex-text {
      align-self: center;
      background-color: white;
      border-radius: 10px 10px;
      box-shadow: #bbb;
      padding: 10px;
      box-shadow: 5px 5px darkslategrey;
      width: 95%;
  }
}

.flex-container-2 {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 95%;
  justify-self: center;
  font-size: 20px;
  hr {
      width: 100%;
      margin-top: 2;
      margin-bottom: 0;
      padding: 0; 
  }

  h2.title {
    margin-bottom: 20px;
  }

  h4 {
      margin-bottom: 0;
  }
  p {
      text-align: left;
      margin-top: 5px;
  }

  ul li{
      margin-bottom: 10px;
  }
}

.flex-container-3 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-top: 10px;
  margin-bottom: 10px;
  height: auto;
  min-width: 20%;
  justify-self: center;
  font-size: 20px;

  ul {
      width: auto;
      margin-top: 5px;
      text-align: left;
  }
  ul li{
      width: auto;
      font-size: 15px;
      margin-top: 5px;
  }

  .title {
      font-size: 30px;
  }

  hr {
      width: 100%;
      margin-top: 2;
      margin-bottom: 0;
      padding: 0; 
  }
  hr.divider { 
      margin: 0em;
      border-width: 2px;
  }
  h4 {
      margin-bottom: 0;
  }
  p {
      text-align: left;
      margin-top: 5px;
  }
  iframe {
    margin-right: 10px;
  }

}

.flex-container-4 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 95%;
  justify-self: center;
  font-size: 20px;

  hr {
      width: 100%;
      margin-top: 2;
      margin-bottom: 0;
      padding: 0; 
  }

  h2.title {
    margin-bottom: 20px;
  }

  h4 {
      margin-bottom: 0;
  }
  p {
      text-align: left;
      margin-top: 5px;
  }

  ul li{
      margin-bottom: 10px;
  }
}

.flex-container-5 {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  margin-top: 10px;
  margin-bottom: 10px;
  height: auto;
  width: 100%;
  min-width: 20%;
  justify-self: center;
  font-size: 20px;

  ul {
      width: auto;
      margin-top: 5px;
      text-align: left;
  }
  ul li{
      width: auto;
      font-size: 15px;
      margin-top: 5px;
  }

  .title {
      font-size: 30px;
  }

  hr {
      width: 100%;
      margin-top: 2;
      margin-bottom: 0;
      padding: 0; 
  }
  hr.divider { 
      margin: 0em;
      border-width: 2px;
  }
  h4 {
      margin-bottom: 0;
  }
  p {
      text-align: left;
      margin-top: 5px;
  }
  iframe {
    width: 97.5%;
    margin-right: 10px;
  }

}

.flex-container-6 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 100%;
  justify-self: center;
  text-align: center;
  font-size: 20px;

  .flex-image {
      order: 1;
      display: flex;
      justify-content: center;
      border: #bbb;
      padding-right: 10px;
      width: auto;

      img {
          max-width: 100%;
          max-height: 100%;
      }
    .color-box {
      order: 2;
    }
  }
     
  .flex-text {
      align-self: center;
      background-color:cornflowerblue;
      border-radius: 10px 10px;
      box-shadow: #bbb;
      padding: 10px;
  }
}

.project {
  text-align: left;
  background-color: white;
  color: black;
  border-radius: 10px 10px;
  width: auto;
  text-align: left; 
  padding: 10px;
  margin: 10px;
  box-shadow: 5px 5px darkslategrey;

  .name {
      display: inline;
      font-size: 30px;
  }
  hr {
      width: 100%;
      margin-top: 2;
      margin-bottom: 0;
      padding: 0; 
  }
  hr.divider { 
      margin: 0em;
      border-width: 2px;
  }
  ul {
      margin-top: 5px;
  }
  ul li{
      font-size: 15px;
  }
}

a.plain-link{ 
  color: black; 
  text-decoration:none; 
}

a.white-link{
  color: black;
}

.logo {
  img {
      background-color: white;
      height: 25px;
  }
}

h4.inline {
  display: inline;
}