body {
    padding: 25px;
    background-color: rgb(46, 46, 46);
    color: white;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    width: 95%;
}

footer {
    position: relative;
    bottom: 0;
    height: 60px;
    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: #FFF;

    .links {
        font-size: 20px;
        justify-self: center;
        justify-content: center;
        text-align: center;
    
        p {
            padding: 0%;
        }
    
        hr{
            text-align: center;
            justify-self: center;
        }
    }
 }

/*navigation bar*/
.nav-bar {
    background-color:cornflowerblue;
    width: 100%;
    position: sticky;
    top: 0;
    
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: cornflowerblue;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    li {
        float: center;
        border-right: 1px solid #bbb;
        border-left: 1px solid #bbb;
        border-top: 1px solid #bbb;
        border-bottom: 1px solid #bbb;
    }

    li a {
        display: block;
        color: white;
        text-align: center;
        padding: 7px 8px;
        text-decoration: none;
    }
    li a:hover {
        background-color: rgb(106, 157, 252);
    }
    .active {
        background-color: rgb(88, 131, 211);
    }

    .closebtn {
        visibility: hidden;
    }
}

button {
    font-size: 20px;
    cursor: pointer;
    background-color: cornflowerblue;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 10px 10px;
    margin-top: 10px;
  }

.openbtn {
    visibility: hidden;
}

.title{
    justify-self: left;
    text-align: left;
    h1 {
        margin-left: 0px;
    }
}

/*not-fixed width container*/
.flex-container-1 {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
    justify-self: center;
    text-align: center;
    font-size: 20px;

    .flex-image {
        display: flex;
        justify-content: center;
        border: #bbb;
        padding-right: 10px;
        width: 100%;

        img {
            max-width: 100%;
            max-height: 100%;
        }
    }
       
    .flex-text {
        align-self: center;
        background-color:cornflowerblue;
        border-radius: 10px 10px;
        box-shadow: #bbb;
        padding: 10px;
    }
}

.flex-container-2 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 95%;
    justify-self: center;
    font-size: 20px;

    hr {
        width: 100%;
        margin-top: 2;
        margin-bottom: 0;
        padding: 0; 
    }

    h4 {
        margin-bottom: 0;
    }
    p {
        text-align: left;
        margin-top: 5px;
    }

    ul li{
        margin-bottom: 10px;
    }
}

.flex-container-3 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-top: 10px;
    margin-bottom: 10px;
    width: auto;
    min-width: 20%;
    justify-self: center;
    font-size: 20px;

    ul {
        width: auto;
        margin-top: 5px;
        text-align: left;
    }
    ul li{
        width: auto;
        font-size: 15px;
        margin-top: 5px;
    }

    .title {
        font-size: 30px;
    }

    hr {
        width: 100%;
        margin-top: 2;
        margin-bottom: 0;
        padding: 0; 
    }
    hr.divider { 
        margin: 0em;
        border-width: 2px;
    }
    h4 {
        margin-bottom: 0;
    }
    p {
        text-align: left;
        margin-top: 5px;
    }
}

.project {
    text-align: left;
    background-color:cornflowerblue;
    border-radius: 10px 10px;
    box-shadow: #bbb;
    width: 95%; 
    padding: 10px;
    margin-bottom: 10px;

    .name {
        display: inline;
        font-size: 30px;
    }
    hr {
        width: 100%;
        margin-top: 2;
        margin-bottom: 0;
        padding: 0; 
    }
    hr.divider { 
        margin: 0em;
        border-width: 2px;
    }
    ul {
        margin-top: 5px;
    }
    ul li{
        font-size: 15px;
    }
}

a.plain-link{ 
    color: white; 
    text-decoration:none; 
}

a.white-link{
    color: white;
}

.logo {
    img {
        background-color: white;
        height: 25px;
    }
}

h4.inline {
    display: inline;
}

.color-box {
    background-color:cornflowerblue;
    border-radius: 10px 10px;
    box-shadow: #bbb;
    padding: 10px 20px;
    margin-right: 20px;
    h4 {
        margin-top: 0;
    }
}
